rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{productId} {
      allow read: if true;
      allow create: if request.resource.data.name is string
        && request.resource.data.name.size() > 0
        && request.resource.data.price is number
        && request.resource.data.avlbStk is number
        && request.resource.data.imageUrl is string;
      allow update, delete: if false;
    }
  }
}